.logo {
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

.toolbar {
  background-color: rgb(254 242 242);
}

.grapeslab {
  color: black;
}

.headerItems {
  margin-left: 110px;
}

.headerMenu {
  margin-left: 70px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.favIcon {
  color: #f44849;
  margin-left: 250px;
  cursor: pointer;
}

.cartIcon {
  color: #f44849;
  margin-left: 25px;
  cursor: pointer;
}
