.foodCards {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0.5px;
}

.foodPaper:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.foodImage {
  height: 200px;
  width: 347px;
  margin-top: 10px;
  border-radius: 5%;
}

.tagImage {
  position: absolute;
  height: 70px;
  width: 100px;
  margin-left: -26px;
  transform: rotate(225deg);
}

.discount {
  color: rgb(253, 253, 253);
  font-size: 13px;
  position: absolute;
  margin-top: 25px;
  margin-left: 6px;
}

.foodTitle {
  display: flex;
  float: left;
}

.foodPlace {
  color: rgb(153, 152, 152);
  margin-top: 20px;
  float: left;
  /* margin-top: 10px; */
}

.foodRating {
  display: flex;
  margin-top: -1px;
  padding-left: 4px;
  font-size: 12px;
  font-weight: bold;
}

.starIcon {
  float: left;
  margin-top: -6px;
  color: rgb(240, 187, 52);
}
