.frame4Div {
  max-width: 300px;
  margin-left: 40px;
}

.title41 {
  color: rgb(201, 37, 37);
}

.title42 {
  color: rgb(15, 15, 53);
  font-size: 40px;
  margin-top: -3px;
}

.subtitle {
  color: rgb(121, 121, 121);
  margin-top: -20px;
  line-height: 20px;
  text-align: justify;
}

.contentImage4 {
  height: 130%;
  width: 95%;
  margin-top: -150px;
}

.appStore {
  height: 160px;
  width: 140px;
  margin-top: -40px;
  margin-left: 40px;
  float: left;
  cursor: pointer;
}

.playStore {
  display: flex;
  height: 80px;
  width: 162px;
  cursor: pointer;
}
