.carouselDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.frame3 {
  margin-top: 240px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(254, 242, 242);
}

.title1 {
  color: rgb(201, 37, 37);
}

.title3 {
  color: rgb(15, 15, 53);
  font-size: 40px;
}

.cutPrice {
  color: rgb(15, 15, 53);
  font-size: 40px;
  line-height: 10px;
  text-decoration: line-through;
  display: inline;
}

.offPrice {
  display: inline;
  color: rgb(15, 15, 53);
  font-size: 30px;
  line-height: 10px;
  margin-left: 25px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.itemButton {
  color: rgb(201, 37, 37);
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
  background: none;
  border-radius: 50px;
  width: 170px;
  min-width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 2px solid rgb(201, 37, 37);
}

.addButton {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
  background: rgb(201, 37, 37);
  border-radius: 50px;
  width: 170px;
  min-width: 110px;
  display: inline-block;
  border: none;
  padding: 25px;
  transition: all 0.4s ease 0s;
}

.addButton:hover {
  background: rgb(201, 37, 37);
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.removeIcon {
  margin-right: 16px;
  cursor: pointer;
}

.addIcon {
  margin-left: 10px;
  cursor: pointer;
}

.contentImage3 {
  height: 650px;
  width: 600px;
  padding-bottom: -5px;
}

.carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
}
