.footerDiv {
  padding-left: 90px;
  padding-top: 80px;
  padding-right: 90px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Flogo {
  height: 50px;
  width: 50px;
  display: inline;
  vertical-align: middle;
}

.Fgrapeslab {
  display: inline;
  vertical-align: middle;
}

.Fsubtext {
  font-size: 17px;
  color: gray;
}

.firstColumn {
  float: left;
  margin: auto;
}

.fb {
  height: 50px;
  width: 50px;
  margin-right: 4px;
}

.twitter {
  height: 45px;
  width: 45px;
  margin-right: 8px;
}

.instagram {
  height: 42px;
  width: 42px;
  margin-right: 10px;
}

.linkedIn {
  height: 40px;
  width: 40px;
}

.secondColumn {
  margin: auto;
  margin-right: -40px;
  float: right;
}

.thirdColumn {
  margin-right: 40px;
  margin-top: -40px;
  float: right;
}

.fourthColumn {
  margin-right: 40px;
  float: right;
}

.fifthColumn {
  margin-top: -82px;
  float: right;
}

.h3 {
  font-size: 17px;
}

.divider {
  margin-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
}

.copyright {
  color: gray;
  margin-top: 40px;
  padding-left: 90px;
}

.creditcard {
  height: 170px;
  width: 250px;
  float: right;
  margin-top: -115px;
  padding-right: 90px;
}

a {
  cursor: pointer;
}
