.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: "100%";
  padding-top: 100px;
}

.footerGrid {
  background-color: #f6f6f6;
  width: "100%";
  padding-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 10px;
}

.Flogo {
  height: 50px;
  width: 50px;
  display: inline;
  vertical-align: middle;
}

.Fgrapeslab {
  display: inline;
  vertical-align: middle;
}

.Fsubtext {
  font-size: 17px;
  color: gray;
}

.firstColumn {
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.socialLogos {
  display: flex;
  align-items: center;
  vertical-align: bottom;
}

.fb {
  height: 50px;
  width: 50px;
  margin-right: 4px;
}

.twitter {
  height: 42px;
  width: 42px;
  margin-right: 10px;
}

.instagram {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.linkedIn {
  height: 37px;
  width: 37px;
}

.h3 {
  font-size: 17px;
}

.divider {
  margin-top: 60px;
}

.copyright {
  color: gray;
  margin-top: 40px;
}

.creditcard {
  height: 190px;
  width: 220px;
  float: right;
  margin-top: -40px;
}

a {
  cursor: pointer;
}
