.frame2 {
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 90px;
}

.title1 {
  color: rgb(201, 37, 37);
}

.title2 {
  color: rgb(15, 15, 53);
  font-size: 80px;
  line-height: 10px;
}

.title3 {
  color: rgb(15, 15, 53);
  font-size: 40px;
}

.subtitle2 {
  color: rgb(121, 121, 121);
  margin-top: -20px;
  line-height: 30px;
  text-align: justify;
}

.exploreButton {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
  background: rgb(201, 37, 37);
  padding: 20px;
  border-radius: 50px;
  width: 170px;
  display: inline-block;
  border: none;
  margin-top: 15px;
  transition: all 0.4s ease 0s;
}

.exploreButton:hover {
  background: rgb(201, 37, 37);
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.contentImage2 {
  height: 700px;
  width: 700px;
  float: left;
}
