.topGrid {
  margin: auto;
  display: inline;
}

.topContentDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.title {
  color: rgb(15, 15, 53);
  font-size: 80px;
  line-height: 90px;
}

.subtitle {
  color: rgb(121, 121, 121);
  margin-top: -30px;
  margin-left: 10px;
  line-height: 30px;
  text-align: justify;
}

.findButton {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
  background: rgb(201, 37, 37);
  padding: 20px;
  border-radius: 50px;
  width: 170px;
  display: inline-block;
  border: none;
  margin-right: 40px;
  margin-bottom: 10px;
  transition: all 0.4s ease 0s;
}

.findButton:hover {
  background: rgb(201, 37, 37);
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.searchIcon {
  margin-left: 3px;
  padding-top: 2px;
}

.searchButton {
  color: rgb(201, 37, 37);
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
  background: none;
  padding: 0px;
  border-radius: 50px;
  height: 60px;
  width: 170px;
  display: inline-block;
  border: 2px solid rgb(201, 37, 37);
  transition: all 0.4s ease 0s;
}

.searchButton:hover {
  background: none;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(248, 103, 103, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.contentImageDiv {
  margin: auto;
}

.contentImage {
  height: auto;
  width: 100%;
}
